blinker==1.8.2
click==8.1.7
exceptiongroup==1.2.2
Flask==3.0.3
Flask-SQLAlchemy==3.1.1
flask-swagger-ui==4.11.1
Flask-Testing==0.8.1
greenlet==3.1.0
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
packaging==24.1
pluggy==1.5.0
psycopg2-binary==2.9.9
pytest==8.3.3
SQLAlchemy==2.0.34
tomli==2.0.1
typing_extensions==4.12.2
Werkzeug==3.0.4
